body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #c5dd73;
	flex-wrap: wrap;
}
body, .content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	position: relative;
	padding: 5px;
}
.content img {
	width: 75px;
}
.statisticsFirstCar, .statisticsSecondCar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	width: 175px;
	margin: 15px;
	flex-direction: column;
	color: #333;
	padding: 25px 0;
	box-shadow: inset 0px 1px 1px 2px #333;
	user-select: none;
}
.title {
	font-size: 28px;
}
.statisticsFirstCar_icon img, .statisticsSecondCar_icon img {
	width: 100px;
}
.statisticsFirstCar_driver, .statisticsSecondCar_driver {
	font-size: 24px;
	margin-bottom: 10px;
}
.statisticsFirstCar_lapData, .statisticsSecondCar_lapData {
	font-size: 20px;
}
.startLine {
	position: absolute;
	background-color: #fff;
	width: 3px;
	height: 125px;
	margin-top: -450px;
	margin-left: 36px;
	filter: blur(.75px);
}
.winners {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #333;
	user-select: none;
}
.winnerFirst {
	font-size: 35px;
	margin: 15px;
}
.winnerSecond {
	font-size: 30px;
}